.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f57a07;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paragraph{
    width: 100%;
    display: flex;
    justify-content: center;
}
.paragraph p{
    color: white;
    margin: 0;
    font-size: x-large;
}
.social-network{
    margin: 1% 0%;
    width: 60%;;
    display:flex;
    justify-content: center;
}
.social-network >a{
   width: 30%;
   display: flex;
   justify-content: center;
}
.social-network >a >i{
    font-size: 25px!important;
    box-shadow: 0px 0px 5px rgb(75, 74, 74);
    padding: 5% 10%;
    border-radius: 10px;
    background-color: white;
 }
 .bi-facebook{
     color: blue;
 }
 
 .bi-instagram{
   color: #d20275;
 }
 .social-network >a >i:hover{
    box-shadow: 0px 0px 10px rgb(75, 74, 74);
    padding: 5% 10%;
    border-radius: 10px;
 }